FILE    ../geometry/sphere/sphere500_R5         dielectric_interface
FILE    ../geometry/sphere/sphere500_R4_D12     neumann_surface         input_files/sphere500.phi0
FILE    ../geometry/sphere/sphere500_R1_D1.25   dirichlet_surface       input_files/sphere500.phi0
--------------------------------
PARAM   LorY E?     Dielec  kappa   charges?    coulomb?    charge_file                             Nparent     parent      Nchild      children
FIELD   2    0      80      0.125   0           0           NA                                      0           NA          2           0 1   
FIELD   1    1      4       1e-12   1           1           ../geometry/sphere/centered_ion.pqr     1           0           1           2 
FIELD   NA   1      NA      NA      0           0           NA                                      1           1           0           NA
FIELD   NA   1      NA      NA      0           0           NA                                      1           2           0           NA
