FILE    ../geometry/sphere/sphere500_R4      dirichlet_surface      input_files/sphere500.phi0
--------------------------------
PARAM   LorY E?     Dielec  kappa   charges?    coulomb?    charge_file                             Nparent     parent      Nchild      children
FIELD   2    0      80      0.125   0           0           NA                                      0           NA          1           0
FIELD   NA   1      NA      NA      0           0           NA                                      1           0           0           NA
