FILE    ../geometry/1PGB_mut/1PGB_mut_p1.5_d02      dielectric_interface 
FILE    ../geometry/sensor/sensor_100x10x100_d02    neumann_surface         input_files/sensor_100x10x100_d02_-4e-5-4e-5-4e-5-4e-5-4e-5-4e-5.phi0 
--------------------------------
PARAM   LorY pot?   Dielec  kappa   charges?    coulomb?    charge_file                         Nparent     parent      Nchild      children
FIELD   1    0      80      1e-12   0           0           NA                                  0           NA          2           0 1
FIELD   1    1      4       1e-12   1           1           ../geometry/1PGB_mut/1PGB_mut.pqr     1           0           0           NA
FIELD   NA   1      NA      NA      0           0           NA                                  1           1           0           NA
