# Large files
geometry/sphere/sphere520K*

# file types
*.pyc
*.txt
*.o
*.so
*_wrap.cxx

# specific files
bem_pycuda/tree/calculateMultipoles.py
bem_pycuda/tree/direct.py
bem_pycuda/tree/multipole.py
util/semi_analyticalwrap.py
bem_pycuda/regression_tests/regression_*
