FILE    /geometry/sphere/sphere8K_R4          dirichlet_surface  regression_tests/input_files/sphere8K.phi0
FILE    /geometry/sphere/sphere8K_R4_D12      dirichlet_surface  regression_tests/input_files/sphere8K.phi0
--------------------------------
PARAM   LorY E?     Dielec  kappa   charges?    coulomb?    charge_file     Nparent     parent      Nchild      children
FIELD   2    0      80      0.125   0           0           NA              0           NA          2           0   1
FIELD   NA   1      NA      NA      0           0           NA              1           0           0           NA
FIELD   NA   1      NA      NA      0           0           NA              1           1           0           NA
