FILE    geometry/sphere/sphere500_R5    dielectric_interface
--------------------------------
PARAM   LorY E?   Dielec  kappa   charges?    coulomb?    charge_file                             Nparent     parent      Nchild      children
FIELD   2    0      80      0.125   0           0           NA                                      0           NA          1           0
FIELD   1    1      4       1e-12   1           1           geometry/sphere/centered_ion.pqr     1           0           0           NA
