FILE    ../geometry/sphere/sphere2K_R10            dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16        dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16-x      dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16y       dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16-y      dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16z       dielectric_interface
FILE    ../geometry/sphere/sphere500_R02_D16-z      dielectric_interface
--------------------------------
PARAM   LorY E?     Dielec  kappa   charges?    coulomb?    charge_file     Nparent     parent      Nchild      children
FIELD   1    0      1.7956+8.5e-9j      1e-12   0           0           NA              0           NA          7           0   1   2   3   4   5   6
FIELD   1    0      -3.3829+0.19136j       1e-12   0           0           NA              1           0           0           NA
FIELD   1    0      9.609+0.149j       1e-12   0           0           NA              1           1           0           NA
FIELD   1    0      9.609+0.149j       1e-12   0           0           NA              1           2           0           NA
FIELD   1    0      9.609+0.149j       1e-12   0           0           NA              1           3           0           NA
FIELD   1    0      9.609+0.149j      1e-12   0           0           NA              1           4           0           NA
FIELD   1    0      9.609+0.149j      1e-12   0           0           NA              1           5           0           NA
FIELD   1    0      9.609+0.149j      1e-12   0           0           NA              1           6           0           NA
--------------------------------
PARAM   Efield  Wavelength
WAVE    -1      380
