FILE    geometry/sphere2K_R10   dielectric_interface
--------------------------------
PARAM   LorY E?   Dielec        kappa   charges?    coulomb?    charge_file   Nparent     parent      Nchild      children
FIELD   1    0  1.7800896400000001+3.3515104000000003e-09j           1e-12   0           0           NA              0           NA          1           0
FIELD   1    0  -3.8874936460215972+2.6344121588317515j    1e-12   0           0           NA              1           0           0           NA
--------------------------------
PARAM   Efield   Wavelength
WAVE -1 5200
